@import "./variable.scss";

.header {
  height: 90px;
  box-shadow: 10px 10px 50px #ccc;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  nav {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      li {
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 10px 20px;
        border-radius: 30px;
        &:hover {
          background-color: $primary;
          color: #fff;
        }
      }
    }
    .contactButton {
      padding: 12px 20px;
      border: 1px solid $primary;
      border-radius: 8px;
      color: $primary;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: #fff;
        background-color: $primary;
      }
    }
  }
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;

  .hero {
    display: flex;
    gap: 100px;
    height: calc(85vh - 90px);
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;

    .textContainer {
      max-width: 550px;
      max-height: 375px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .introText {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 30px;
        color: #282938;
      }

      .mainText {
        font-size: 64px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 89px;
        color: $title;

        b {
          color: $primary;
        }
      }

      .descriptionText {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $text;
      }

      .getInTouch {
        padding: 15px 25px;
        background-color: $primary;
        color: #fff;
        border: 0;
        border-radius: 8px;
        margin-top: 50px;
        width: 170px;
      }
    }

    .imageContainer {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;

      img {
        width: 350px;
        border-radius: 16px;
        position: relative;
        z-index: 88;
      }
      span {
        margin-top: -134px;
        height: 130px;
        border-radius: 16px;
        background-color: $primary;
        width: 450px;
      }
    }
  }

  .skills {
    margin-bottom: 200px;
    .headerContainer {
      .preTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #282938;
        margin-bottom: 20px;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #282938;
      }
    }
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    .imageContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        background-color: $primary;
        border: 4px solid $primary;
        border-radius: 800px;
      }
    }

    .textContainer {
      width: 100%;

      .preTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #282938;
        margin-bottom: 20px;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        color: #282938;

        b {
          color: $primary;
          font-weight: 700;
        }
      }

      .text {
        max-width: 500px;
      }
    }
  }

  .portfolio {
    .headerContainer {
      .preTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #282938;
        margin-bottom: 20px;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #282938;
      }
    }

    .visitMyGithub {
    }
  }

  .contact {
    .preTitle {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #282938;
    }

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      color: #282938;
    }

    .text {
    }

    .button {
      .linkedin {
      }

      .github {
      }

      .gmail {
      }
    }
  }
}

.footer {
  .links {
    li {
    }
  }

  .socialIcons {
  }
}
